body {
	margin: 0;
	padding: 0;
	background: #4ACBD6;
	font-family: sans-serif;
	color: #fff;
}

h1 {
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 34px;
}

.avatar {
	width: 100px;
	height: 100px;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}

div.loginBox {
	width: 360px;
	height: 500px;
	background: #000;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 70px 30px;
	border-radius: 20px;
}

div.panelThre {
	margin-top: 10px;
}

input.pcPassword {
	width: 300px;
	height: 50px;
	line-height: 50px;
	padding-left: 20px;
}

div.PCBtnDiv {
	position: relative;
	margin-top: 20px;
}

#copyright {
	-webkit-text-size-adjust: none;
	font-size: 12px;
	margin-top: 25px;
	display: inline-block;
}

.style1 {
	font-family: "Arial";
	font-size: 16px;
	text-align: right;
	font-weight: bold;
	white-space: nowrap;
}

.style2 {
	font-size: 14px;
	font-family: "Arial";
	font-weight: bold;
	text-align: right;
	white-space: nowrap;
}

.style3 {
	font-size: 14px;
	font-family: "Arial";
	font-weight: normal;
	text-align: right;
	white-space: nowrap;
}

ul {
	padding: 40px 0px 0px 20px;
	list-style: none;
	text-align: start;
}

ul li {
	height: 34px;
}

li.blank {
	height: 15px;
}

.loginBtn {
	border: none;
	outline: none;
	margin-top: 10%;
	height: 40px;
	width: 90%;
	background: #fb2525;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
	text-align: center;
	cursor: pointer;
}

.loginBtn:hover {
	cursor: pointer;
	background: #ffc107;
	color: #000;
}

.topLogo {
	height: 100px;
}

.topLogo .router-info {
	float: right;
	margin-top: 0.5%;
	margin-right: 1%;
	height: 100px;
}

.topLogo ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: transparent;
}

.topLogo li {
	float: left;
}

.topLogo li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#status{
	padding-top: 30px; 
	color: #0F0;
	font-size: 25px;
}

status{
	font-size: 20px;
}